<html>
   <head>
     <title>Employee BioData - Education History</title>
	 <link rel="stylesheet" type="text/css" media="all" href="SampleScreensStyle.css"/>
	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	 <script>
	    $(function(){
	        var elemcount =1;
			var highschoolcount =1;
			var collegecount =1;
			var vocationalcount =1;
			var masteralcount =1;
			var otherscount = 1;
			var licensecount = 1;
			var elemwrapper = $('table[name=elementary]');
			var highschoolwrapper = $('table[name=highschool]');
			var collegewrapper = $('table[name=college]');
			var vocationalwrapper = $('table[name=vocational]');
			var masteralwrapper = $('table[name=masteral]');
			var otherswrapper = $('table[name=others]');
			var licensewrapper = $('table[name=license]');
			
		    $(document).on("click", ".addelem", function(e){
				   e.preventDefault();
				    elemcount++;
					$(elemwrapper).append('<tr><td> ' + elemcount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="elemschool" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="elemfrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="elemto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="elemawards" placeholder="ex. Perfect Attendance"/></td>'
					   + '<td><button class="removeelem">Remove elementary school info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removeelem", function(e){
				    e.preventDefault();
					elemcount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
			
			$(document).on("click", ".addhighschool", function(e){
				   e.preventDefault();
				    highschoolcount++;
					$(highschoolwrapper).append('<tr><td> ' + highschoolcount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="highschool" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="highschoolfrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="highschooltoelemto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="highschoolawards" placeholder="ex. Perfect Attendance"/></td>'
					   + '<td><button class="removehighschool">Remove high school info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removehighschool", function(e){
				    e.preventDefault();
					highschoolcount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
			
			$(document).on("click", ".addcollege", function(e){
				   e.preventDefault();
				    collegecount++;
					$(collegewrapper).append('<tr><td> ' + collegecount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="college" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="collegefrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="collegeto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="collegewards" placeholder="ex. Perfect Attendance"/></td>'
					   + '<td><button class="removecollege">Remove college info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removecollege", function(e){
				    e.preventDefault();
					collegecount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
			
			$(document).on("click", ".addvocational", function(e){
				   e.preventDefault();
				    vocationalcount++;
					$(vocationalwrapper).append('<tr><td> ' + vocationalcount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="vocationalschool" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="vocataionalschoolfrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="vocationalschoolto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="vocationalschoolawards" placeholder="ex. Perfect Attendance" /></td>'
					   + '<td><button class="removevocational">Remove vocational school info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removevocational", function(e){
				    e.preventDefault();
					vocationalcount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
			
			$(document).on("click", ".addmasteral", function(e){
				   e.preventDefault();
				    masteralcount++;
					$(masteralwrapper).append('<tr><td> ' + masteralcount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="masteralschool" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="masteralschoolfrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="masteralschoolto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="masteralschoolawards" placeholder="ex. Perfect Attendance" /></td>'
					   + '<td><button class="removemasteral">Remove masteral school info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removemasteral", function(e){
				    e.preventDefault();
					masteralcount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
						
			$(document).on("click", ".addother", function(e){
			    e.preventDefault();
				otherscount++;
				$(otherswrapper).append('<tr><td> ' + otherscount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="otherschool" placeholder="ex. Don Bosco School"/></td>'
					   + '<td><input type="text" name="otherfrom" placeholder="ex. 2000" /></td>'
					   + '<td><input type="text" name="otherto" placeholder="ex. 2012" /></td>'
					   + '<td><input type="text" name="otherawards" placeholder="ex. Perfect Attendance"/></td>'
					   + '<td><button class="removeother">Remove other school info</button></td></tr>');
			});
			
			$(document).on("click", ".removeother", function(e){
			       e.preventDefault();
				   otherscount--;
				   $(this).parent().parent().remove();
			});
			
			$(document).on("click", ".addlicense", function(e){
				   e.preventDefault();
				    licensecount++;
					$(licensewrapper).append('<tr><td> ' + licensecount.toString()
					   + ' </td>' 
					   + '<td><input type="text" name="license" placeholder="License/Exam Name"/></td>'
					   + '<td><input type="text" name="licensepercentage" placeholder="Percentage Result"/></td>'
					   + '<td><button class="removelicense">Remove license/exam info</button></td></tr>'
					   );
			});
				 
			$(document).on("click", ".removelicense", function(e){
				    e.preventDefault();
					licensecount--;
					//alert("Removing.");
					$(this).parent().parent().remove();
			});
			
			});
	 </script>
   </head>
   <body>
      <form>
            <div class="content">
	    <span id="headers">Education History</span><br/><br/>
		
		<span id="headers">Elementary</span><br/>
		<table name="elementary">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="elemschool" placeholder="ex. Don Bosco School"/></td>
			 <td><input type="text" name="elemfrom" placeholder="ex. 2000"/></td>
			 <td><input type="text" name="elemto" placeholder="ex. 2012"/></td>
			 <td><input type="text" name="elemawards" placeholder="ex. Perfect Attendance Award"/></td>
			 <td><button class="addelem">Add elementary school</button></td>
		   </tr>
		</table><br/><br/>
		
		<span id="headers">High School</span><br/>
		<table name="highschool">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="highschool" placeholder="Name of School"/></td>
			 <td><input type="text" name="highschoolfrom" placeholder="Year Start"/></td>
			 <td><input type="text" name="highschoolto" placeholder="Year End"/></td>
			 <td><input type="text" name="highschoolawards" placeholder="Degree Taken/Highest Attainment/Awards"/></td>
			 <td><button class="addhighschool">Add high school</button></td>
		   </tr>
	    </table><br/><br/>
		
		<span id="headers">College</span><br/>
		<table name="college">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="college" placeholder="Name of School"/></td>
			 <td><input type="text" name="collegefrom" placeholder="Year Start"/></td>
			 <td><input type="text" name="collegeto" placeholder="Year End"/></td>
			 <td><input type="text" name="collegeawards" placeholder="Degree Taken/Highest Attainment/Awards"/></td>
			 <td><button class="addcollege">Add college</button></td>
		   </tr>
	    </table><br/><br/>
		
		<span id="headers">Vocational</span><br/>
		<table name="vocational">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="vocationalschool" placeholder="Name of School"/></td>
			 <td><input type="text" name="vocationalschoolfrom" placeholder="Year Start"/></td>
			 <td><input type="text" name="vocationalschoolto" placeholder="Year End"/></td>
			 <td><input type="text" name="vocationalschoolawards" placeholder="Degree Taken/Highest 
Attainment/Awards"/></td>
			 <td><button class="addvocational">Add vocational school</button></td>
		   </tr>
	    </table><br/><br/>
		
		<span id="headers">Masteral</span><br/>
		<table name="masteral">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="masteralschool" placeholder="Name of School"/></td>
			 <td><input type="text" name="masteralschoolfrom" placeholder="Year Start"/></td>
			 <td><input type="text" name="masteralschoolto" placeholder="Year End"/></td>
			 <td><input type="text" name="masteralschoolawards" placeholder="Degree Taken/Highest 
Attainment/Awards"/></td>
			 <td><button class="addmasteral">Add masteral school</button></td>
		   </tr>
	    </table><br/><br/>
		
		<span id="headers">Others</span><br/>
		<table name="others">
		   <tr>
		      <td>#</td>
			  <td>Name of School</td>
			  <td>From</td>
			  <td>To</td>
			  <td>Awards</td>
		   </tr>
		   <tr>
		     <td>1</td>
			 <td><input type="text" name="otherschool" placeholder="Name of School"/></td>
			 <td><input type="text" name="otherfrom" placeholder="Year Start"/></td>
			 <td><input type="text" name="otherto" placeholder="Year End"/></td>
			 <td><input type="text" name="otherawards" placeholder="Degree Taken/Highest Attainment/Awards"/></td>
			 <td><button class="addother">Add other school</button></td>
		   </tr>
	    </table><br/><br/>
		
		<span id="headers">Licenses/Exams</span><br/>
		<table name="license">
		   <tr>
		      <td>#</td>
			  <td>License/Exam Taken</td>
			  <td>Percentage</td>
		   </tr>
		   <tr>
		      <td>1</td>
			  <td><input type="text" name="license" placeholder="License/Exam Taken/Percentage"/></td>
			  <td><input type="text" name="licensepercentage" placeholder="Percentage Result"/></td>
			  <td><button class="addlicense">Add license/exam info</button></td>
		   </tr>
		</table><br/><br/>
		
		<button>Next</button>
                </div><br/><br/>

                <div class= "footer">
			<hr width="75%"/>
			EQUILIBRIUM INTERTRADE CORP.
		</div>
	  </form>
   </body>
</html>
