<html>
<head>
	<link rel="shortcut icon" href="eq logo.ico"/>
	<title> Memo Form - Equilibrium </title>
	
        <link rel="stylesheet" type="text/css" 	media="all" href="css/LeaveSuccess.css" />
</head>
<body bgcolor=#E8E8E8>
	<div class = "memoForm" align="center">
		<br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<text class="titleText">Leave has been successfully filed!</text><br/>
		<a href="homepage.html">Click here to return to home page...<html></a>
		
	</div>
	<DIV class = "pageBottom" style="margin-bottom: 3px"><hr width ="75%"/></br> EQUILIBRIUM INTERTRADE CORP.</div>
</body>

</html>