body {
	font-family: helvetica;
	font-size: 14;
	background-color: #E8E8E8;
}

#box {
	height: 500px;
	width: 300px;
	position: absolute;
	top: 0; bottom:0; left: 0; right: 0;
	margin-top: auto;
	margin-bottom:auto;
	margin-left: 40px;
	padding: 10px;
	
	
	background-color: white;
	border-radius: 16px;
	opacity: 0.55;
}

#header {
	width: 600px;
	height: 35px;
}

#searchBox {
	float: right;
	border: 2px solid lightgray;
	border-right: 0;
	height: 30px;
	width: 270px;
	text-indent: 5px;
}

#submitButton:hover {
	cursor: hand;
}

#submitButton {
	float: right;
	background-color: #D63333;
	color: white;
	border: 0;
	height: 30px;
	width: 60px;
}

#results {
	height: 460px;
	width: 300px;
	overflow: auto;
}

.result {
	padding: 5px;
	margin-top: 5px;
	border-top: 1px dotted lightgray;
}

.name {
	font-size: 15;
	font-weight: bold;
}

.addAccount {
	background-color: #E8E8E8;
	border-radius: 5px;
	margin-left: 20px;
	border: 0;
	padding: 3px;
	width: 100px;
}

.addAccount:hover {
	cursor: hand;
}
DIV.pageBottom{
		padding-top: 130px;
		text-align:center;
		color: #808080;
		font-size: 11;
		font-family: "Arial";
	}
DIV.pageTop{
		margin-top: 3px;
	}
select:hover{
	cursor: hand;
}
