body{
			background-color: #E8E8E8;
			padding-top: 0px;
			text-align: center;
		}
		div.background{
			background-color: #E8E8E8;
		}
		div.header{
			padding-top: 100px;
		}
		div.content{
			font-family: sans-serif;
			width: 500px;
			margin: 0px auto;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 0px;
			padding-bottom: 35px;
			border: 1px dashed #333;
			color: #D63333;
			background-color: white;
			border-radius: 3px;
			border-style: solid;
			border-width: 40px;
			border-color: white;
			text-align: left;
			opacity: 0.55;
			display: block;
		}
		.submitButton{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-radius: 3px;
			border-color: #D63333;
			color: white;
			float: left;
			cursor:hand;
		}
		
		.back{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-color: #D63333;
			border-radius: 3px;
			color: white;
			float: right;
			cursor: hand;
		}
		div.footer{
			width: 100%;
			height: 45px;
			position: absolute;
			bottom: 0;
			left: 0;
			text-align:center;
			color: #808080;
			font-size: 11;
			font-family: "Arial";
		}
		.textLine{
			float: right;
		}
