body{
			background-color: #E8E8E8;
			padding: 0px;
			text-align: center;
		}
		div.background{
			background: #E8E8E8;
		}
		div.header{
			border-style: solid;
			border-color: #E8E8E8;
			width: 100%;
			position absolute;
			font-family: sans-serif;
			
background-color: #E8E8E8;
			text-align:center;
			color: #D63333;
			opactiy: 0.55;
		}
		div.content{
			font-family: sans-serif;
			width: 500px;
			margin: 0px auto;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 0px;
			padding-bottom: 35px;
			border: 1px dashed #333;
			color: #D63333;
			background-color: white;
			border-radius: 10px;
			border-style: solid;
			border-width: 40px;
			border-color: white;
			text-align: left;
			opacity: 0.55;	
		}
		.submitButton{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-color: #D63333;
			color: white;
			float: left;
			cursor:hand;
		}
		.submitButton:hover{
			opacity: .80;
			border: 1px solid white;
		}
		.back{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-color: #D63333;
			color: white;
			float: right;
			cursor: hand;
		}
		.back:hover{
			opacity: .80;
			border: 1px solid white;
		}
		div.footer{
			width: 100%;
			height: 43px;
			position: absolute;
			bottom: 0;
			left: 0;
		
			text-align:center;
			color: #808080;
			font-size: 11;
			font-family: "Arial";
		}