.nav{
	padding-top:0px;
	background: #D63333;
	opacity: 0.55;
	display: block;
}
.nav ul{
	padding: 0;
	margin: 0;
}
.nav ul li{
	list-style: none;
}
.nav ul li a{
	float: right;
	padding: 20px 30px;
	color: black;
	text-decoration: none;
	display: block;
}
.nav ul li a:hover{
	color: white;
}

