button{
  background-color: #E80000;
  border-color: black;
  color: white;
  border-radius: 2px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 12;
}

button:hover{
  background-color: black;
  border: 1px solid white;
}

body{
 background-color: #E8E8E8;
			margin: 50px 0px;
			padding-left: 100px;
			padding-right: 100px;
 font-family: Arial, sans-serif;
}

.headers{
 font-weight: bold;
}

table{
 font-family: Verdana, sans-serif;
 font-size: 13;
  color: black;
}

input[type=submit]{
    position: relative;
	left: 85%;
	background-color: #E80000;
  border-color: black;
  color: white;
  border-radius: 2px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 12;
}

input[type=submit]:hover{
  background-color: black;
  border: 1px solid white;
}

DIV.footer{
			width: 100%;
			height: 43px;
			position: relative;
			top: 5%;
			left: 0;
		   z-score: 1;
			text-align:center;
			color: #808080;
			font-size: 11;
			font-family: "Arial";
		}

.tabs {
	margin: 0;
	overflow: hidden;
	padding: 0;
	zoom: 1;
	position:relative;
	top:2px;
	z-index: 1;
}

.tabs li {
	display: block;
	list-style: none;
	margin: 0;
	margin-right: 1px;
	padding: 0;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

.tabs li a {
	display: block;
	padding: 2px 10px;
	border: 2px solid #A7A4A4;
	border-bottom: 0 none;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: "Verdana";
	font-size: 14px;
}

.tabs li a:visited{
   color: black;
}

.tabs li a:hover{
   color: #E80000;
}

DIV.tab-section {
	background:#E8E8E8;
	padding: 10px;
	border: 2px solid #A7A4A4;
	border-radius: 5px;
}

.tabs li a.current {
	background: #A7A4A4;
	color: #000;
	border-bottom: 2px solid #A7A4A4;
	border-radius: 5px 5px 0px 0px;
}
