button{
  background-color: #2663ae;
  border-color: black;
  color: white;
  border-radius: 2px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 12;
}

button:hover{
  //background-color: #22599c;
  background-color: black;
  border: 1px solid white;
}

body{
 background-color: #E8E8E8;
			margin: 50px 0px;
			padding: 0px;
 font-family: Arial, sans-serif;
}

#headers{
 font-weight: bold;
}

table{
 font-family: Arial, sans-serif;
 font-size: 13;
 color: white;
}

input[type=text]{

}

.content{
font-family: sans-serif;
width: 800px;
margin: 0px auto;
padding-left: 15px;
padding-right: 15px;
padding-top: 0px;
padding-bottom: 35px;
border: 1px dashed #333;
color: White;
background-color: #FF3300;
border-radius: 10px;
border-style: solid;
border-width: 40px;
border-color: #FF3300;
text-align: left;
opacity: 0.85;
}

.footer{
			width: 100%;
			height: 43px;
			position: relative;
			top: 5%;
			left: 0;
		   z-score: 1;
			text-align:center;
			color: #808080;
			font-size: 11;
			font-family: "Arial";
		}

input[name=empaddress]{
 width: 90%;
}

#tabs {
	margin: 0;
	overflow: hidden;
	padding: 0;
	zoom: 1;
	position:relative;
	top:2px;
	z-index: 1;
}

#tabs li {
	display: block;
	list-style: none;
	margin: 0;
	margin-right: 1px;
	padding: 0;
	float: left;
	border-radius: 5px 5px 0px 0px;
}

#tabs li a {
	display: block;
	padding: 2px 10px;
	border: 2px solid #817bfc;
	border-bottom: 0 none;
	text-align: center;
	text-decoration: none;
}

.tab-section {
	background:#d4efff;
	padding: 10px;
	border: 2px solid #817bfc;
	border-radius: 5px;
}

#tabs li a.current {
	background: #d4efff;
	color: #000;
	border-bottom: 2px solid #d4efff;
	border-radius: 5px 5px 0px 0px;
}
