		body{
			background-color: #E8E8E8;
			padding: 0px;
			text-align: center;
		}
		div.background{
			background-color: #E8E8E8;
		}
		div.header{
			border-style: solid;
			border-color: #E8E8E8;
			width: 100%;
			position: absolute;
			font-family: sans-serif;
			background-color: #E8E8E8;
			text-align:center;
			color: #D63333;
			opactiy: 0.55;
			padding-top:50px;
		}
		div.content{
			font-family: sans-serif;
			width: 800px;
			margin: 0px auto;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 0px;
			padding-bottom: 35px;
			border: 1px dashed #333;
			color: #D63333;
			background-color: white;
			border-radius: 10px;
			border-style: solid;
			border-width: 40px;
			border-color: white;
			text-align: left;
                        position: absolute;
                        top: 20%;
                        left: 18%;
		}
		button{
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12;
    opacity: .55;
    border-radius: 3px;
    font-size: 16px;
}

button:hover{
    background-color: black;
    border: 1px solid white;
    cursor: hand;
}

input[type=submit]{
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12;
    opacity: .55;
    font-size: 16px;
}

input[type=submit]:hover{
    background-color: black;
    border: 1px solid white;
    cursor: hand;
}

input[type=text]{
    font-size: 16px;
}

DIV.nav{
	padding-top:0px;
	background: #D63333;
	opacity: 0.55;
	/*display: block;*/
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-score: 2;
}
.nav ul{
	padding: 0;
	margin: 0;
}
.nav ul li{
	list-style: none;
}
.nav ul li a{
	float: right;
	padding: 20px 30px;
	color: black;
	text-decoration: none;
	display: block;
	font-size: 125%;
}
.nav ul li a:hover{
	color: white;
}
.logo{
	float: left;
	width: 175;
	height: 65;
}
		div.footer{
			    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11;
    font-family: "Arial";
    background-color: #E8E8E8;
	z-score: 1;
                }