body{
    background-color: #E8E8E8;
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
}

div.background{
    background-color: #E8E8E8;
}

div.header{
    text-align: center;
    border-style: solid;
    border-color: #E8E8E8;
    width: 100%;
    position: absolute;
    font-family: sans-serif;
    background-color: #E8E8E8;
}

div.titleText{
    font-size: 22px;
    font-family: sans-serif;
    color: white;
}

div.content{
    font-family: sans-serif;
    width: 500px;
    margin: 0px auto;
    padding: 15px;
    border: 1px dashed #333;
    color: white;
    background-color: #D63333;
    border-style: solid;
    border-width: 40px;
    border-color: #D63333;
    border: 2px solid;
    border-radius: 25px;
    opacity: 0.65;
    height: 180px;
}

.submitButton{
    font-size: 20px;
    width: 45%;
    padding: 5px;
    background-color: black;
    border-color: black;
    color: white;
    float: left;
    border: 2px solid;
}

.submitButton:hover{
    opacity: .80;
    cursor: pointer;
    border: 1px solid white;
}

.back{
    font-size: 20px;
    width: 45%;
    padding: 5px;
    background-color: black;
    border-color: black;
    color: white;
    float: right;
    border: 2px solid;
}

.back:hover{
    opacity: .80;
    border: 1px solid white;
    cursor: hand;
}

div.footer{
    width: 100%;
    height: 43px;
    position: absolute;
    bottom: 0;
    left: 0;

    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
}

div.table{
    border: 2px solid;
    border-radius: 25px;
    padding: 10px 40px;
    width: 300px;
}

table, th{
    text-align: center;
    color: white;
}