	body{
			background-color: #E8E8E8;
			padding-top: 0;
			text-align: center;
			height:0;
			width:0;
			margin-top:auto;
			margin-right:auto;
		}
		div.background{
			background-color: #E8E8E8;
		}
		div.header{
			margin-top:0;
			padding-top: 100px;
		}
		div.content{
			font-family: sans-serif;
			position: absolute;
			height:30%;
			width: 30%;
			margin-top: 10%;
			margin-left: 30%;
			
			border: 1px dashed #333;
			color: #D63333;
			background-color: white;
			border-radius: 3px;
			border-style: solid;
			border-width: 40px;
			border-color: white;
			text-align: left;
			opacity: 0.75;
			
		}
		.submitButton{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-radius: 3px;
			border-color: #D63333;
			color: white;
			float: left;
			cursor:hand;
		}
		
		.back{
			font-size: 20px;
			width: 45%;
			padding: 5px;
			background-color: #D63333;
			border-color: #D63333;
			border-radius: 3px;
			color: white;
			float: right;
			cursor: hand;
		}
		div.footer{
			width: 100%;
			height: 45px;
			margin-bottom:0;
			position: absolute;
			bottom: 0;
			left: 0;
			text-align:center;
			color: #808080;
			font-size: 11;
			font-family: sans-serif;
		}
		.textLine{
			float: right;
		}
.titleText{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20;
	margin-left: 150px;
	color: red;
}
