.memoForm{
    background-color: white;
    border-radius: 16px;
    width:750px;
    height: 450px;
    opacity: 0.55;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.memoText{
    margin-left: 25%;
    margin-top: 20px;
    color: black;
    border: 1px solid black;
    font-family: Arial;
    padding-left: 4px;
}

.submitButton{
    width: 75px;
    height: 25px;
    margin-top: 8px;
    margin-left: 65%;
    color: black;
}

.submitButton:hover{
    border: 1.5px solid white;
    cursor: pointer;
}

.titleText{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    margin-left: 30%;
    opacity: .85;
}

.contentText{
    font-size: 17px;
    font-family: sans-serif;
    color: red;
    margin-left: 10%;
    margin-top: 8px;
    opacity: .85;
}

DIV.pageBottom{
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: sans-serif;
    background-color: #E8E8E8;
    z-index: 1;
}

textarea{
    position:relative;
    right:125px;
    resize:none;
}
