.report{
    float: right;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 100%;
    border: none;
}

.report:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.75;
    border: 1.5px solid white;
}

body{
    background-color: #E8E8E8;
    font-family: Arial, sans-serif;
}

DIV.announcements{
    font-family: sans-serif;
    width: 25%;
    height: 55%;
    margin-top: 5%;
    margin-left: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 35px;
    border: 1px dashed #333;
    color: #D63333;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 40px;
    border-color: white;
    text-align: left;
    opacity: 0.55;

    
}

DIV.notifications{
    margin-top: 90px;
    margin-left: 200px;
    font-family: sans-serif;
    width: 25%;
    height: 55%;
    padding-right: 15px;
    padding-bottom: 35px;
    border: 1px dashed #333;
    color: #D63333;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 40px;
    border-color: white;
    text-align: left;
    opacity: 0.55;
    overflow: auto;

}

DIV.contentannounce{
    padding: 5%;
}

DIV.pageTop{
    margin-top: 3px;
    height:200px;
}
DIV.pageMid{
    position: absolute;
    top: 20%;
    left: 40%;
    height: 350px;
}
DIV.footer{
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    background-color: #E8E8E8;
    z-index: 1;
}

DIV.nav{
    padding-top:0px;
    background: #f5f5f5;
 
    /*display: block;*/
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #e5e5e5;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 125%;
}
.nav ul li a:hover{
    color: red;
    cursor:pointer;
}
.logo{
    margin-top:0;
    margin-left: 25px;
    float: left;
    width: auto;
   
}

.headers{
    font-weight: bold;
}

.tabs {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1;
}

DIV.searchMan{
    top: 15.5%;
    left: 34%;
    position: absolute;
    font-family: sans-serif;
    color: #D63333;
    
}

DIV.search{
    margin-top: 130px;
    
    font-family: sans-serif;
    color: #D63333;
   
}
.searchBox{
	margin-top: 18px;
	width: 500px;
	height: 33px;
	padding-left: 8px;
}
IMG.compLogo{
		display: block;
		width: 298px;
		height: auto;
		margin: 0 auto;
	}
