#approve-leave-div{
    margin-top: 80px;
    width: 100%;
    margin-bottom: 80px;
}

#leave-div{
    width: 75%;
    margin: 0 auto 0 auto;
    background-color: white;
    border-radius: 10px;
}

#heading-tag{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

#leave-list{
    padding-left: 20px;
    margin-top: 10px;
}

.leave-item{
    padding-bottom: 20px;
}

.approve-button, .reject-button{
    height: 20px;
    line-height: 15px;
    background: white;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    border: 1px black solid;
}

.approve-button:hover{
    border: 1px solid green;
    background: green;
    color: white;
    cursor: pointer;
}

.reject-button:hover{
    border: 1px solid #AD0000;
    background: #AD0000;
    color: white;
    cursor: pointer;
}

#no-pending-div{
    text-align: center;
}

#no-pending-tag{
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
}

p{
    margin: 0;
}

form{
    position: relative;
    top: 5px;
    display: inline;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}