body {
    font-family: helvetica;
    font-size: 14px;
    background-color: #E8E8E8;
}

#box {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 0; bottom:0; left: 0; right: 0;
    margin-top: 100px;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:auto;
    padding: 10px;
    display: inline;
    
    background-color: white;
    border-radius: 16px;
    opacity: 0.55;
}

#header {
    width: 600px;
    height: 35px;
}

#searchBox {
    float: right;
    border: 2px solid lightgray;
    border-right: 0;
    height: 30px;
    width: 470px;
    text-indent: 5px;
}

#submitButton:hover {
    cursor: pointer;
}

#submitButton {
    float: right;
    background-color: #D63333;
    color: white;
    border: 0;
    height: 30px;
    width: 60px;
}

#results {
    height: 360px;
    width: 500px;
    overflow: auto;
}

.result {
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px dotted lightgray;
}

.name {
    font-size: 15px;
    font-weight: bold;
}

.inline-form{
    display: inline;
}

.approveLeave {
    background-color: #E8E8E8;
    border-radius: 5px;
    border: 0;
    padding: 3px;
    margin-top: 10px;
    width: 100px;
}
.declineLeave {
    background-color: #E8E8E8;
    border-radius: 5px;
    border: 0;
    padding: 3px;
    margin-top: 10px;
    width: 100px;
}
.approveLeave:hover {
    cursor: pointer;
}
.declineLeave:hover {
    cursor: pointer;
}
DIV.pageBottom{
    padding-top: 130px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    margin-top: 450px;
}
.titleText{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    margin-left: 150px;
    color: red;
}
DIV.pageTop{
    margin-top: 3px;
}
select:hover{
    cursor: pointer;
}
.nav{
    padding-top:0px;
    background: #f5f5f5;

    /*display: block;*/
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #e5e5e5;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 125%;
    position:relative;
}
.nav ul li a:hover{
    color: red;
    cursor:pointer;
}
.logo{
    margin-top:0;
    margin-left: 25px;
    float: left;
    width: auto;
    position:relative;
}
.logo:hover{
    cursor:pointer;
}
