body{
    background-color: #E8E8E8;
    padding: 0px;
    text-align: center;
}
div.background{
    background-color: #E8E8E8;
}
div.header{

    width: 100%;
    font-family: sans-serif;

    text-align:center;
    color: #D63333;
}
div.content{
    position: absolute;
    font-family: sans-serif;
    width: 500px;
    margin-top: 7%;
    margin-left: 30%;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: 1px dashed #333;
    color: #D63333;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 40px;
    border-color: white;
    text-align: left;
    opacity: 0.75;
}
.submitButton{
    font-size: 20px;
    width: 45%;
    padding: 5px;
    background-color: #D63333;
    border-color: #D63333;
    color: white;
    float: left;
    cursor: pointer;
}
.submitButton:hover{
    opacity: .80;
    border: 1px solid white;
}
.back{
    font-size: 20px;
    width: 45%;
    padding: 5px;
    background-color: #D63333;
    border-color: #D63333;
    color: white;
    float: right;
    cursor: pointer;
}
.back:hover{
    opacity: .80;
    border: 1px solid white;
}
div.footer{
    width: 100%;
    height: 45px;
    margin-bottom:0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align:center;
    color: #808080;
    font-size: 11;
    font-family: sans-serif;
}
.footer hr{
    margin-top: 0;
}

form{
    margin-bottom: 0px;
}

.form-input{
    color: black;
}

.searchBox{
    position: absolute;
    width: 250px;
    height: 25px;
    text-indent: 5px;
    left: 130px;
    top: 13px;
    border: 0;
    border-radius: 5px;
}
.inline-form{
    display: inline;
}
.nav{
    padding-top:0px;
    background: #f5f5f5;
 
    /*display: block;*/
    width: 100%;
    height: 52px;

    top: 0;
    left: 0;
    margin-bottom: auto;
    z-index: 2;
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    
}
.nav ul li a:hover{
    color: red;
    cursor:pointer;
}
.selectText:hover{
     color: red;
    cursor:pointer;
}

.logo{
    margin-top:0;
    
    margin-left: 25px;
    float: left;
    width: auto;
    
}
.logo:hover{
    cursor:pointer;
}
DIV.footer{
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    bottom:0;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    background-color: #E8E8E8;
    z-index: 1;
}

.searchBox{
    position: absolute;
    width: 250px;
    height: 25px;
    text-indent: 5px;
    left: 130px;
    top: 13px;
    border: 0;
    border-radius: 5px;
}
.selectText{
	float: right;
    	margin-top: 12px;
  	margin-right: 20px;
    	color: black;
	display: block;
    	font-size: 20px;
    	position:relative;
        font-family: Arial;
}
#leaveMessage{
        margin-right:auto;
        margin-left:auto;
}
hr{
    border-top: 1px solid black;
}