DIV.pageTop{
		background-color: #E8E8E8;
		padding-bottom: 10px;
		margin: 0px;
		padding-top: 0px;
	}
DIV.pageMid{
		padding-top: 30px;
		font-family: helvetica;
		font-size: 72;
		font-weight: bold;
		color: #FF2600;
		margin-top: 70px;
		
}

.loginForm{
    width: 380px;
    height: 430px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
}

DIV.pageBottom{
    padding-top: 70px;
    text-align:center;
    color: #808080;
    font-size: 11;
    font-family: "Arial";
}

IMG.compLogo{
    display: block;
    width: 298px;
    height: auto;
    margin: 0 auto;
}
#button-buttons{
    padding-top: 15px;
}
.loginButton{
    position:relative;
    width: 298px;
    height: 45px;
    background-color: #FF2600;
    color: white;
    cursor: hand;	
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin: 0 auto;	
    font-weight: bold;
    font-size: 15px;
}
.inputBox1{
    width: 298px;
    height: 44px;
    padding-left: 12px;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border: 1px solid gray;
    font-size: 15px;
}
.inputBox2{
    width: 298px;
    height: 44px;
    padding-left: 12px;
    margin-top: 0;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border: 1px solid gray;
    font-size: 15px;
}

a{
    text-decoration: none;
    font-family: helvetica;
}
      
DIV.footer{
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    background-color: #E8E8E8;
    z-index: 1;
}