.searchBox{
    position: absolute;
    width: 250px;
    height: 25px;
    text-indent: 5px;
    left: 130px;
    top: 13px;
    border: 0;
    border-radius: 5px;
}
.inline-form{
    display: inline;
}
.selectText{
	float: right;
    	margin-top: 15px;
  	margin-right: 20px;
    	color: black;
	display: block;
    	font-size: 125%;
    	position:relative;
        font-family: Arial;
}
.nav{
    padding-top:0px;
    background: #f5f5f5;
 
    /*display: block;*/
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #e5e5e5;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
}
.nav ul li a:hover{
    color: red;
    cursor:pointer;
}
.logo{
    margin-top:0;
    margin-left: 25px;
    float: left;
    width: auto;
 
}
.logo:hover{
    cursor:pointer;
}
.selectText:hover{
     color: red;
    cursor:pointer;
}
