button{
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12;
    opacity: .55;
}

button:hover{
    background-color: black;
    border: 1px solid white;
}

body{
    background-color: #E8E8E8;
    font-family: Arial, sans-serif;
}

table{
    font-family: Verdana, sans-serif;
    font-size: 13;
    color: black;
}

input[type=submit]{
    position: relative;
    left: 85%;
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    opacity: .55;
    position: relative;
    up: 500px;
    left: 1100px;
}

input[type=submit]:hover{
    background-color: black;
    border: 1px solid white;
}

input[type=text]{
    width: 97%;
}

input[type=number]{
    width: 97%;
}

input[type=date]{
    width: 97%;
}

select{
    width: 97%;
    padding-top: 3px;
    padding-bottom: 3px;
}

DIV.footer{
    width: 100%;
    position: fixed;
    top: 90%;
    left: 0%;
    height: 500px;
    text-align:center;
    color: #808080;
    font-size: 11;
    font-family: "Arial";
    background-color: #E8E8E8;
    z-index: 1;
}

DIV.tab-section {
    background-color: white;
    padding: 10px;
    border: 2px solid #A7A4A4;
    border-radius: 5px;
    opacity: .85;
}

DIV.content{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 20%;
    z-index: -1;
}
DIV.nav{
    padding-top:0px;
    background: #D63333;
    opacity: 0.55;
    /*display: block;*/
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-score: 2;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    float: right;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 125%;
}
.nav ul li a:hover{
    color: white;
}
.logo{
    float: left;
    width: 175;
    height: 65;
}

.headers{
    font-weight: bold;
}

.tabs {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1;
}

.tabs li {
    display: block;
    list-style: none;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    float: left;
    border-radius: 5px 5px 0px 0px;
}

.tabs li a {
    display: block;
    padding: 2px 10px;
    border: 2px solid #A7A4A4;
    border-bottom: 0 none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Verdana";
    font-size: 14px;
    background-color: white;
}

.tabs li a:visited{
    color: black;
}

.tabs li a:hover{
    color: #E80000;
}

.tabs li a.current {
    background: #A7A4A4;
    color: #000;
    border-bottom: 2px solid #A7A4A4;
    border-radius: 5px 5px 0px 0px;
}

.three-hundred{
    width: 300px;
}

.two-fifty{
    width: 250px;
}

.three-ten{
    width: 310px;
}

.five-hundred{
    width: 500px;
}

.four-hundred{
    width: 400px;
}

text{
    border: solid black;
}

#bio_form{
    max-height: 400px;
    overflow-y: auto;
}

#bioMessage{
    color: red;
}