button{
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12;
    opacity: .55;
}

button:hover{
    background-color: black;
    border: 1px solid white;
}

body{
    background-color: #E8E8E8;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

table{
    font-family: Verdana, sans-serif;
    font-size: 13;
    color: black;
    margin-left: 5%;
}

td{
    width: auto;
    height: auto;
}

input[type=submit]{
    position: relative;
    left: 85%;
    background-color: red;
    border-color: black;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    opacity: .55;
    position: relative;
    up: 500px;
    left: 1100px;
}

input[type=submit]{
    font-size: 14px;
    height: 10%;
    width: 10%;
    position: relative;
    left: 90%;
    top: 10%;
}

input[type=submit]:hover{
    background-color: black;
    border: 1px solid white;
    
}

input[type=text]{
    width: auto;
}

input[type=number]{
    width: auto;
}

input[type=date]{
    width: auto;
}

select{
    width: 97%;
    padding-top: 3px;
    padding-bottom: 3px;
}

DIV.footer{
    width: 100%;
    height: 40px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    background-color: #E8E8E8;
    position: fixed;
    top: 94%;
    left: 0%;
}

DIV.tab-section {
    background-color: white;
    padding: 10px;
    border: 2px solid #A7A4A4;
    border-radius: 5px;
    opacity: .85;
    width: 1000px;
    max-height: 400px;
    overflow-y: auto;
}

DIV.content{
    position: absolute;
    top: 20%;
    left: 12.5%;
    z-index: -1;
}
DIV.nav{
    padding-top:0px;
    background: #f5f5f5;
 
    /*display: block;*/
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #e5e5e5;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
 
    text-decoration: none;
   
}
.nav ul li a:hover{
    color: white;
}
.logo{
    float: left;
    width: 175;
    height: 65;
}

.headers{
    font-weight: bold;
}

.tabs {
    margin: 0;
    overflow: hidden;
    padding: 0;
    zoom: 1;
    position:relative;
    top:2px;
    z-index: 1;
}

.tabs li {
    display: block;
    list-style: none;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    float: left;
    border-radius: 5px 5px 0px 0px;
}

.tabs li a {
    display: block;
    padding: 2px 10px;
    border: 2px solid #A7A4A4;
    border-bottom: 0 none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Verdana";
    font-size: 14px;
    background-color: white;
}

.tabs li a:visited{
    color: black;
}

.tabs li a:hover{
    color: #E80000;
}

.tabs li a.current {
    background: #A7A4A4;
    color: #000;
    border-bottom: 2px solid #A7A4A4;
    border-radius: 5px 5px 0px 0px;
}

.titleText{
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    color: red;
    opacity: .85;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 1;
}

text{
    border: solid black;
}

#bioMessage{
    color: red;
}