.acctForm{
    margin-top: 100px;
    background-color: white;
    border-radius: 16px;
    width:650px;
    height: 250px;
    opacity: 0.55;
    margin-left: auto;
    margin-right: auto;
}

.titleText{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    color: red;
    opacity: 1.25;
}

.contentText{
    font-size: 17px;
    font-family: Arial;
    color: white;
    margin-left: 125px;
    margin-top: 8px;
}

.textbox{
    height: 40px;
    width: 240px;
    border: 1px solid gray;
    padding-left: 7px;
    font-size: 16px;
}

DIV.pageBottom{
    padding-top: 130px;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
    margin-top: 100px;
}

.submitButton{
    height: 40px;
    width: 240px;
    background-color:#D63333;
    color:white;
    border: 0px;
}

.submitButton:hover{
    cursor:hand;
    border: 1px solid black;
}

a{
    color:#D63333;
    font-size: 19px;
}