body {
    font-family: helvetica;
    font-size: 14px;
}

input:hover, .alertButton:hover {
    cursor: pointer;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 50;
}

#alert {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 0; bottom:0; left: 0; right: 0;
    margin: auto;
    z-index: 100;
    border: 0;
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

.alertButton {
    border: 0;
    background-color: lightgray;
    color: white;
    width: 100px;
    height: 25px;
    margin-top: 10px;
}

.add-delete-button {
    width: 20px;
    float: right;
    background-color: lightgray;
    border: 0;
    color: white;
    margin-left: 2px;
}

#editButton, #saveButton{
    width: 100px;
    height: 30px;
    background-color: lightgray;
    border: 0;
    font-size: 16px;
    color: white;
    border-top-right-radius: 13px;
}

#saveButton{
    display: none;
}

.editSpan{
    float: right;
}

.editMessage{
    margin-right: 10px;
    display: none;
}

.data {
    padding-left: 2px;
    padding-right: 2px;
    padding: 2px;
    border: none;
    color: black;
}

.data:hover{
    cursor: default; 
}

#main{
    margin: 0;
    margin-right: 50px;
    display: inline-block;
}

#box {
    height: 500px;
    width: 800px;
    float: right;
    border: 2px solid lightgray;
    background: white;
    border-radius: 16px;
}

#name {
    position: absolute;
    margin-top: 8px;
    float: left;
    text-indent: 5px;
}

#header {
    height: 30px;
    width: 800px;
    border-bottom: 2px solid lightgray;
    font-size: 16px;
}

#options {
    height: 468px;
    width: 200px;
    border: 0;
    border-right: 2px solid lightgray;
    overflow: auto;
    font-size: 16px;
    font-family: helvetica;
    border-bottom-left-radius: 16px;
}

option {
    height: 23px;
    padding-top: 7px;
    text-indent: 5px;
    border-bottom: 2px solid lightgray;
}

select:focus {
    outline: none;
}

.pages {
    float: right;
    height: 468px;
    width: 594px;
    overflow: auto;
}

.content {
    padding: 5px;
    padding-top: 10px;
}

.label {
    font-weight: bold;
}

.label-rel {
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px dotted lightgray;
}

.line {
    margin-bottom: 5px;
}

#docs-select {
    float: right;
    margin-right: 5px;
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 35px;
    width: 270px;
    text-indent: 5px;
}
.pageTop{
    margin-top: 3px;
}

.pageLeft{
    height: 40%;
    width: 20%;
    margin-right: 10px;
    margin-top: 50px;
    padding-top: 0;
    float: left;
}

.empPicture{
    width: 200px;
    height: 200px;
}

.botan{
    font-size: 100%;
    width: 50%;
    padding: 5px;
    background-color: #D63333;
    border-color: #D63333;
    color: white;
    cursor: pointer;
    opacity: 0.55;
}

.pageBot{
    margin-top: 50px;
    position: relative;
    margin-bottom: 0;
    text-align:center;
    color: #808080;
    font-size: 11px;
    font-family: "Arial";
}

.editNote{
    color: red;
    font-size: 11px;
    display: none;
    font-weight: bolder;
    font-style: italic
}

input[type='date']{
    width: 125px;
}

.downloadButton{
    float: right;
}