<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>createAccountServlet</servlet-name>
        <servlet-class>Servlets.GetSearchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAccount</servlet-name>
        <servlet-class>Servlets.GetEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePassword</servlet-name>
        <servlet-class>Servlets.SavePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeeOfManagerServlet</servlet-name>
        <servlet-class>Servlets.GetEmployeeOfManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMemo</servlet-name>
        <servlet-class>Servlets.SaveMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveSubmit</servlet-name>
        <servlet-class>Servlets.LeaveSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>Servlets.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>Servlets.SearchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployee</servlet-name>
        <servlet-class>Servlets.ViewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEmployeeServlet</servlet-name>
        <servlet-class>Servlets.SelectEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeData</servlet-name>
        <servlet-class>Servlets.EditEmployeeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toAddAward</servlet-name>
        <servlet-class>Servlets.toAddAward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAward</servlet-name>
        <servlet-class>Servlets.SaveAward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLeave</servlet-name>
        <servlet-class>Servlets.ApproveLeave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEvaluation</servlet-name>
        <servlet-class>Servlets.SaveEvaluation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>Servlets.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveAudit</servlet-name>
        <servlet-class>Servlets.ApproveAudit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>Servlets.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProfilePic</servlet-name>
        <servlet-class>Servlets.SaveProfilePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveReport</servlet-name>
        <servlet-class>Servlets.SaveReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createAccountServlet</servlet-name>
        <url-pattern>/createAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAccount</servlet-name>
        <url-pattern>/SaveAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnterBioData</servlet-name>
        <servlet-class>Servlets.EnterBioData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>savePassword</servlet-name>
        <url-pattern>/savePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeOfManagerServlet</servlet-name>
        <url-pattern>/GetEmployeeOfManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMemo</servlet-name>
        <url-pattern>/SaveMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveSubmit</servlet-name>
        <url-pattern>/LeaveSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterBioData</servlet-name>
        <url-pattern>/EnterBioData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/AutoCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/SearchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployee</servlet-name>
        <url-pattern>/ViewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEmployeeServlet</servlet-name>
        <url-pattern>/SelectEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toAddAward</servlet-name>
        <url-pattern>/toAddAward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAward</servlet-name>
        <url-pattern>/SaveAward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLeave</servlet-name>
        <url-pattern>/ApproveLeave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEvaluation</servlet-name>
        <url-pattern>/SaveEvaluation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveAudit</servlet-name>
        <url-pattern>/ApproveAudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeData</servlet-name>
        <url-pattern>/EditEmployeeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProfilePic</servlet-name>
        <url-pattern>/SaveProfilePic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveReport</servlet-name>
        <url-pattern>/SaveReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
